<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="giavu.co.jp">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
            android:name="giavu.co.jp.hoi.HOIApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="giavu.co.jp.activity.profile.ProfileActivity">
        </activity>
        <activity android:name="giavu.co.jp.activity.quotelist.QuoteListActivity"/>
        <activity
                android:name="giavu.co.jp.activity.splash.SplashActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity
                android:name="giavu.co.jp.activity.main.MainActivity"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name="giavu.co.jp.activity.login.LoginActivity"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name="giavu.co.jp.activity.register.RegisterActivity"
                android:theme="@style/AppTheme.NoActionBar"/>

        <service
                android:name="giavu.co.jp.firebase.JFDFirebaseMessagingService"
                tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <receiver
                android:name="giavu.co.jp.notify.DailyQuoteReceiver"
                android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name="giavu.co.jp.notify.QuoteReceiver"
                android:enabled="true"
                android:exported="true"/>
    </application>

</manifest>